.mat-progress-spinner {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 45%;
    z-index: 9999;
  }
  