.userSideBar{
    height:100%;
    .pad-top-30{
        padding-top:20px;
    }
    .example-container{
        height:100%;
        .mat-nav-list{
            margin-top:60px;
            .mat-list-item{
                height: 40px;
                line-height: 40px;
            }
        }
        .mat-drawer{
            min-width:1.2%;
            max-width: 13%;
        }
        .button-move {
            position: fixed;
            margin-left: 0;
            z-index: 9;
            height:30px;
            width:30px;
            line-height:25px;
            margin-top:40px;
        }
        .move-right{
            position: fixed;
            margin-left: 11%;
            z-index: 9;

        }
        .my-fab {
            width: 20px;
            height: 20px;
            line-height: 12px;
        
            .mat-button-wrapper {
                 padding: 2px 0 !important;
                 line-height: 16px !important;
                 width: 16px !important;
                 height: 16px !important;
        
                 .mat-icon {
                      font-size: 16px;
                      padding-right: 4px;
                      line-height: 16px;
                  }
            }
        }
        
    }
}
.example-sidenav-content{
    margin :25px 20px 5px 20px;
    min-height:88%;
    overflow:auto;
}
.example-container{
    margin-top:0;
}


@media (max-device-width: 768px) and (min-device-width: 320px) {
    .userSideBar{
        height:100%;
        .example-container{
            height:100%;
            margin-top:0px;
            .mat-nav-list{
                margin-top:60px;
                .mat-list-item{
                    height: 40px;
                    line-height: 40px;
                }
            }
            .mat-drawer{
                min-width:4.5%;
                max-width: 15.5%;
            }

        }
    }
  }
  
  @media (max-device-width: 667px) and (min-device-width: 375px) {
    .expMain{
      overflow: hidden;
      justify-content: center;
    }
  }
  