<div class="userSideBar">
    <mat-drawer-container class="example-container mat-typography"  autosize>
        <mat-drawer #drawer mode="side" [class.pad-top-30]="hasBroadcast && userAvailable" disableClose="true" opened="true">
            <div class="toggle-button">
                <button mat-mini-fab class="button-move" [class.move-right]="isExpanded" (click)="isExpanded = !isExpanded"  >
                    <mat-icon  *ngIf=" !isExpanded" class="my-fab" aria-label="Menu" color="default">keyboard_arrow_right</mat-icon>
                    <mat-icon *ngIf=" isExpanded" class="my-fab" aria-label="close" color="warn">close</mat-icon>
                </button>
            </div>
            <div *ngIf="isExpanded" class="sideviewHeader">
                Users : {{currentPage}}
            </div>
            <mat-nav-list>
                <mat-list-item *ngIf="isExpanded" [routerLink]="['/users/allUsers']">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <h4 *ngIf="isBiggerScreen()" mat-line >List of all users</h4>
                </mat-list-item>
                <mat-list-item *ngIf="isExpanded" [routerLink]="['/users/addUser']">
                    <mat-icon mat-list-icon>assignment</mat-icon>
                    <h4 *ngIf="isBiggerScreen()" mat-line >Add User</h4>
                </mat-list-item>
                <mat-list-item *ngIf="isExpanded"  [routerLink]="['/users/addPayment']">
                        <mat-icon mat-list-icon>domain</mat-icon>
                        <h4 mat-line *ngIf="isBiggerScreen()">Add Payment and Dues</h4>
                    
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>

        <mat-card class="example-sidenav-content" [class.pad-top-30]="hasBroadcast && userAvailable">
            <mat-card-content>
           <router-outlet></router-outlet>
           </mat-card-content>
        </mat-card>
    </mat-drawer-container>
</div>