1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.1. This facility is to view the Member Passbook for the members registered on the Unified Member Portal.
2. Passbook will be available after 6 Hours of registration at Unified Member Portal.
3. Changes in the credentials at Unified Member Portal will be effective at this Portal after after 6 Hours.
4. Passbook will have the entries which has been reconciled at the EPFO field offices.
5. Passbook facility not be available for the Exempted Establishments Members / Settled Members / InOperative Members.