.mat-card {
    img {
        max-height: 200px;
    }
}

.searchField {
    margin-top: -25px;
    padding-top: 15px;
    width: 75%;
    z-index: 1000;
    position: fixed;
}

@media (max-width: 767px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 90%;
        z-index: 1000;
        position: fixed;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 90%;
        z-index: 1000;
        position: fixed;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 75%;
        z-index: 1000;
        position: fixed;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 75%;
        z-index: 1000;
        position: fixed;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
    /* Styles */
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/**********
    iPad 3
    **********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    body {
        height: 89.9%;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6, 7, 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+, 7+, 8+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone X ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* iPhone XS Max, XR ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}