.header {
    .active {
        background: #69f0ae;
        color: rgba(0, 0, 0, .87);
    }
    a,
    span {
        margin: 5px;
    }
    .logo {
        background-image: url('../assets/nadsonDjLogo.jpg');
        height: 50px;
        width: 55px;
        background-size: contain;
        background-repeat: no-repeat;
        &:hover {
            transform: scale(1.2);
        }
    }
    .mat-icon {
        vertical-align: middle;
        margin: 0 5px;
    }
    .profile {
        position: absolute;
        right: 0;
    }
}

.logout {
    text-align: center;
    width: 100%;
    color: red;
}