
  .header {
    .active {
        -webkit-box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 0.87);
    }
    a,
    
    .Broadcast-alert{
        height: 15px;
        font-size:10px;
        font-weight: 600;
        text-align: center;
        color:#fff;
        line-height: 15px;
    }
    .logo {
        background-image: url('../assets/gymnasium.png');
        height: 40px;
        width: 45px;
        background-size: contain;
        background-repeat: no-repeat;
        // &:hover {
        //     transform: scale(1.2);
        // }
    }
    .logoname {
        height: inherit;
        .main {
            font-size: 35px;
            margin-top: 5px;
            padding: 0;
        }
        .sub {
            font-size: 10px;
            margin: 0;
            padding: 0;
        }
    }
    .mat-icon {
        vertical-align: middle;
        margin: 0 5px;
    }
    .profile {
        position: absolute;
        right: 0;
        margin-right: 10px;
    }
}

.logout {
    color: red;
}

.profileView {
 width:400px;
}

.mat-nav-list {
    div {
        position: fixed;
        bottom: 0;
        text-align: center;
        margin-left: 20px;
    }
}

.signIn {
    font-size: 18px;
    .mat-icon {
        font-size: 25px;
    }
}

.by {
    bottom: 0;
}

.bg-red {
    background-color: rgb(245, 35, 35);
}
.bg-yellow {
    background-color:rgb(220, 190, 20); 
}

.bg-green {
    background-color:rgb(20, 220, 37);
}
.pad-top-30 {
    padding-top:30px;
}
.active {
    -webkit-box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 1);
        color: rgba(255, 255, 255, 0.87);
}
.align-center{
    align-items: center;
    text-align: center;
}