<header class="header mat-elevation-z3" [class.alternative]="otherTheme">
    <div *ngIf="broadcatMsgData && username" class="Broadcast-alert" [ngClass]="getAlertClass(broadcatMsgData.type)">
        <span>{{broadcatMsgData.message}}</span>
    </div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon *ngIf="isBiggerScreen()" (click)="sidenav.toggle()" class="hamburger" matTooltip="Show/Hide links">menu</mat-icon>
            <span routerLink="/" class="logo" ></span>
            <span  routerLink="/" >Gymnasium</span>
            <div class="profile">
                <button *ngIf="!userExist" mat-icon-button (click)="onLogin()" matTooltip="Login or Register">
                    <mat-icon>person</mat-icon>
                </button>
                <button mat-button *ngIf="userExist" [matMenuTriggerFor]="profileMenu" matTooltip="User Details">
                    <mat-icon>account_circle</mat-icon> {{username}}
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>

                <mat-menu class="profileView" #profileMenu="matMenu" xPosition="before">
                    <div mat-menu-item>
                        <mat-icon> email </mat-icon> {{email}}
                    </div>
                    <!-- <button mat-menu-item class="theme" (click)="changeTheme()">Change Theme</button> -->
                    <button *ngIf="!isAdmin" mat-menu-item class="theme" (click)="showNotification()"><mat-icon> notification_important </mat-icon> Notification</button>
                    <button *ngIf="isAdmin" mat-menu-item class="theme" (click)="broadcast()"><mat-icon> speaker_phone</mat-icon> Broadcast</button>
                    <button mat-menu-item class="logout" (click)="logout()"><mat-icon> power_settings_new </mat-icon> Logout</button>
                </mat-menu>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

</header>

<mat-sidenav-container >
    <!-- Sidenav -->
    <mat-sidenav #sidenav [class.pad-top-30]="broadcatMsgData && username" [mode]="isBiggerScreen() ? 'push' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
        [fixedTopGap]>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/home']"  matTooltip="Home" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/users']" matTooltip="Users" matTooltipPosition="right">
                <mat-icon>group</mat-icon>
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/trainers']" matTooltip="Trainers" matTooltipPosition="right">
                <mat-icon>face</mat-icon>
            </a>
            <div  mat-list-item>
                <button mat-icon-button [matMenuTriggerFor]="themeMenu" matTooltip="Select a theme" matTooltipPosition="right">
                    <mat-icon>format_color_fill</mat-icon>
                </button>
                <mat-menu #themeMenu="matMenu" xPosition="before">

                    <mat-radio-group (change)="themeOptions($event)">
                        <mat-list>
                            <mat-list-item>
                                <mat-radio-button value="dark">Dark</mat-radio-button>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-radio-button value="blue">Blue</mat-radio-button>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-radio-button value="green">Green</mat-radio-button>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-radio-button value="orange">Orange</mat-radio-button>
                            </mat-list-item>
                        </mat-list>
                    </mat-radio-group>
                </mat-menu>
            </div>

        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>