<!-- Toolbar -->

<header class="header mat-elevation-z3" [class.alternative]="otherTheme">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="nav-tool-items">      
            <mat-icon (click)="sidenav.toggle()" class="hamburger" matTooltip="Show/Hide links">menu</mat-icon>
         </span>
            <span routerLink="/" class="logo" matTooltip="Home"></span>
            <span>My Cart</span>
            <!-- <div *ngIf="opened">
                <a mat-button routerLinkActive="active" routerLink="/home">
                Home</a>
                <a mat-button routerLinkActive="active" routerLink="/products">
                Products
            </a>
            </div> -->
            <div class="profile">
                <a mat-button *ngIf="!user && opened" color="accent" routerLink="/login">
                    <mat-icon>person</mat-icon> Login
                </a>
                <a mat-button *ngIf="!user && opened" color="accent" routerLink="/register">
                    <mat-icon>person_add</mat-icon> Register
                </a>
                <a mat-icon-button *ngIf="!user && !opened" color="accent" routerLink="/login">
                    <mat-icon>person</mat-icon>
                </a>
                <a mat-icon-button *ngIf="!user && !opened" color="accent" routerLink="/register">
                    <mat-icon>person_add</mat-icon>
                </a>
                <a mat-button *ngIf="user" [matMenuTriggerFor]="profileMenu" matTooltip="User Details">
                    <mat-icon>account_circle</mat-icon> {{username}}
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </a>
                <mat-menu #profileMenu="matMenu" xPosition="before">
                    <div mat-menu-item>
                        {{email}}
                    </div>
                    <button mat-menu-item class="theme" (click)="changeTheme()">change Theme</button>
                    <button mat-menu-item class="logout" (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

</header>
<!-- <mat-toolbar color="primary" class="header">
    <div>My Cart</div>
    <a mat-button routerLinkActive="active" routerLink="/home">
        Home</a>
    <a mat-button routerLinkActive="active" routerLink="/products">
        Products
    </a>

    <span class="nav-tool-items">
      
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar> -->

<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" routerLink="/home">
                <mat-icon>home</mat-icon> Home
            </a>
            <a mat-list-item routerLinkActive="active" routerLink="/products">
                <mat-icon>view_comfy</mat-icon> Products
            </a>
            <!-- <a (click)="changeTheme()" mat-list-item>
                <mat-icon>view_comfy</mat-icon> Change Theme
            </a> -->
            <div class="bottomMenu">
                <a (click)="onModeSwitch($event)" mat-icon-button matTooltip="Switch Mode">
                    <mat-icon (click)="hide = !hide">{{hide ? ' brightness_low ' : 'brightness_high'}}</mat-icon> Turn <span *ngIf="hide">Dark Mode</span><span *ngIf="!hide">Light mode</span>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>