<header class="header mat-elevation-z3" [class.alternative]="otherTheme">
    <div *ngIf="broadcatMsgData && username" class="Broadcast-alert" [ngClass]="getAlertClass(broadcatMsgData.type)">
        <span>{{broadcatMsgData.message}}</span>
    </div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon *ngIf="isBiggerScreen()" (click)="sidenav.toggle()" class="hamburger" matTooltip="Show/Hide links">menu</mat-icon>
            <span routerLink="/" class="logo" ></span>
            <span  routerLink="/" >{{'APP.TITLE' | translate}}</span>
            <div class="profile">
                
                <button mat-button *ngIf="!userExist" [matMenuTriggerFor]="languageMenu" matTooltip="{{'APP.SELECT' |translate}}">
                    <mat-icon>language</mat-icon> {{browserLang}}
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <!-- <button *ngIf="!userExist" mat-icon-button [matMenuTriggerFor]="languageMenu" matTooltip="{{'APP.SELECT' |translate}}" matTooltipPosition="right">
                    <mat-icon>language</mat-icon> 
                </button> -->
                <mat-menu #languageMenu="matMenu" xPosition="before">

                    <mat-radio-group (change)="translate.use($event.value); browserLang = $event.value; setLanguage($event.value)">
                        <mat-list>
                            <mat-list-item *ngFor="let lang of languageSet">
                                <mat-radio-button [value]="lang.code" [checked]="(browserLang === lang.code) ?true : false">{{lang.name}} ({{lang.nativeName}})</mat-radio-button>
                            </mat-list-item>
                        </mat-list>
                    </mat-radio-group>
                </mat-menu>
                <!-- <label *ngIf="!userExist" for=""> 
                    {{'HOME.SELECT'|translate}}
                    <select #languageSelect (change)="translate.use(languageSelect.value)">
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
                        </select>
                </label> -->
                <button mat-button *ngIf="userExist" [matMenuTriggerFor]="profileMenu" matTooltip="User Details">
                    <mat-icon>account_circle</mat-icon> {{username}}
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>

                <mat-menu class="profileView" #profileMenu="matMenu" xPosition="before">
                    <div mat-menu-item>
                        <mat-icon> email </mat-icon> {{email}}
                    </div>
                    <button mat-menu-item [matMenuTriggerFor]="languageMenu" >
                        <mat-icon>language</mat-icon> {{'APP.SELECT' |translate}}
                    </button>
                    <button *ngIf="!isAdmin" mat-menu-item class="theme" (click)="showNotification()"><mat-icon> notification_important </mat-icon> Notification</button>
                    <button *ngIf="isAdmin" mat-menu-item class="theme" (click)="broadcast()"><mat-icon> speaker_phone</mat-icon> Broadcast</button>
                    <button mat-menu-item class="logout" (click)="logout()"><mat-icon> power_settings_new </mat-icon> Logout</button>
                </mat-menu>

                <button *ngIf="!userExist" mat-icon-button (click)="onLogin()" matTooltip="{{'APP.BUTTON_LOGIN'|translate}}">
                    <mat-icon>person</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

</header>

<mat-sidenav-container >
    <!-- Sidenav -->
    <mat-sidenav #sidenav [class.pad-top-30]="broadcatMsgData && username" [mode]="isBiggerScreen() ? 'push' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
        [fixedTopGap]>
        <mat-nav-list>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/home']"  matTooltip="{{'APP.MENU_HOME'|translate}}" matTooltipPosition="right">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/users']" matTooltip="{{'APP.MENU_USERS'|translate}}" matTooltipPosition="right">
                <mat-icon>group</mat-icon>
            </a>
            <a mat-list-item routerLinkActive="active" [routerLink]="['/trainers']" matTooltip="{{'APP.MENU_TRAINERS'|translate}}" matTooltipPosition="right">
                <mat-icon>face</mat-icon>
            </a>
            <div  mat-list-item>
                <button mat-icon-button [matMenuTriggerFor]="themeMenu" matTooltip="{{'APP.MENU_THEME'|translate}}" matTooltipPosition="right">
                    <mat-icon>format_color_fill</mat-icon>
                </button>
                <mat-menu #themeMenu="matMenu" xPosition="before">

                    <mat-radio-group (change)="themeOptions($event)">
                        <mat-list>
                            <mat-list-item>
                                <mat-radio-button value="dark">Dark - Gray </mat-radio-button>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-radio-button value="blue">Light - Blue</mat-radio-button>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-radio-button value="green">Dark - Green</mat-radio-button>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-radio-button value="orange">Light - Orange</mat-radio-button>
                            </mat-list-item>
                        </mat-list>
                    </mat-radio-group>
                </mat-menu>
            </div>

        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>