.header {
    .active {
        background: #69f0ae;
        color: rgba(0, 0, 0, .87);
    }
    a,
    span {
        margin: 5px;
    }
    .logo {
        background-image: url('../assets/logo.jpg');
        height: 50px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mat-icon {
        vertical-align: middle;
        margin: 0 5px;
    }
    .profile {
        position: absolute;
        right: 0;
    }
}