.mat-form-field {
    width:30.65em;
    padding-right:3.8px;
}
td{
    .mat-form-field{
        width:100%;
    }
}
.feeStructure,.update {
    margin:10px;
}
.example-margin {
    margin: 0 10px;
    align-items: center;
  }