<h1>Add Fee details</h1>
<form [formGroup]="feeData" (ngSubmit)="addFeeNow()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Subscription</mat-label>
            <input matInput placeholder="Placeholder" formControlName="subscription" required>
            <mat-icon matSuffix>date_range</mat-icon>
            <mat-error *ngIf="f.subscription.touched && f.subscription.invalid ">Please provide correct details</mat-error>
            <mat-hint>Hint : " 1 Month, 2 Months, Personal training ... "</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Extra benefits on this subscription" formControlName="description" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>Hint : " Extra benefits"</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Placeholder" formControlName="amount" required>
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="f.amount.touched && f.amount.invalid ">Please enter the correct amount.</mat-error>
            <mat-hint>Hint: 1000m 2000, 5000 ...</mat-hint>
        </mat-form-field>
    </p>
    <button [disabled]="!feeData.valid" mat-button type="submit" color="primary">
        <mat-icon>check_circle_outline</mat-icon> Add
    </button>
    <a mat-button (click)="onNoClick()">
        <mat-icon>highlight_off</mat-icon> Cancel
    </a>

</form>