html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
}

.header {
    justify-content: space-between;
    height: 10%;
}

.active {
    background: #7b1fa2;
    color: #fff;
}

.user-profile {
    margin-left: 15px;
}

.mat-sidenav-container {
    height: 90%;
    display: flex;
    flex: 1 1 auto;
}

.mat-nav-list .mat-list-item {
    font-size: 15px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

.nav-tool-items {
    display: inline-block;
    margin-right: 5px;
}

.user-profile {
    margin-left: 15px;
    cursor: pointer;
}

.hamburger {
    visibility: hidden !important;
}

// .mat-sidenav,
// .mat-sidenav-content {
//     padding-right: 5px;
// }

.mat-list-base .mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    font-size: 12px;
}

mat-list-base[dense] .mat-list-item {
    font-size: 12px;
}

.mat-list-item.active {
    background: rgba(0, 0, 0, .04);
}


.mat-sidenav {
    width: 4.5%;
}

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

mat-sidenav mat-icon {
    margin-right: 12px;
}

.hamburger {
    margin-top: 5px;
    cursor: pointer;
}

.mat-radio-button,
.mat-radio-group {
    margin-right: 25px;
}

.controlers-wrapper>* {
    width: 100%;
    padding: 0;
}

.misc-bottom-padding {
    margin: 8px 0 10px;
}

.misc-bottom-padding mat-label {
    margin-right: 15px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.button-wrapper button {
    margin-right: 5px;
}

table.mat-table,
table {
    width: 100%;
}

.inner-wrapper {
    padding: 15px 0 130px;
    width: 100%;
}

.inner-wrapper mat-card {
    display: inline-block;
    margin: 0 6% 0 0;
    vertical-align: top;
    width: 44%;
    max-height:20px;
}

.full-wrapper {
    width: 100%;
}

.multiple-items {
    position: relative;
}

.multiple-items .tooltip-info {
    right: 0;
    top: 7px;
    cursor: pointer;
    color: #a1a7c7;
    position: absolute;
    font-size: 20px;
}

body .push-right {
    margin-right: 10px;
}

.no-data {
    text-align: center;
    padding-top: 30px;
    color: #6c75a9;
}

.button-wrapper {
    margin: 20px 0 0 0;
}

.searchField {
    margin-top: -25px;
    padding-top: 15px;
    width: 75%;
    z-index: 1000;
    position: fixed;
}

.searchField {
    margin-top: -25px;
    padding-top: 15px;
    width: 75%;
    z-index: 1000;
    position: fixed;
}

.mat-card-actions {
    text-align: center;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(51, 51, 51); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFF; 
}

.mat-snack-bar-container{
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 24px;
    max-width: 33vw;
    min-width: 344px;
    padding: 14px 16px;
    min-height: 48px;
    transform-origin: center;
    background: #fffffff2;
  }
  .mat-simple-snackbar-action button {
    max-height: 36px;
    min-width: 0;
    color: #fff;
    border: 1px solid black;
    background: red;
}
  

.custom-dialog-container .mat-dialog-container {
    width:30em;
    .mat-form-field {
        width:100%;
    }
}
.custom-dialog-container-notification .mat-dialog-container {
    width:50em;
    height:42em;
    .mailMainView {
        height: 18em;
        overflow: hidden;
        border: 1px solid gray;
        border-radius: 3px;
        background-color: lightgray;
        color:black;
    }
    .mailActionView {
        margin-top:10px;
        
    }
    .mailListView {
        height: 15em;
        overflow: hidden;
        overflow-y: scroll;
    }
    .mailSelectView{
        height:30em;
        overflow-y: scroll;
    }
}

.avatar svg{
    animation: 3s ease 0s normal none infinite running zoomEffect;
    -webkit-animation: 3s ease 0s normal none infinite running zoomEffect;
    -o-animation: 3s ease 0s normal none infinite running zoomEffect;
    -moz--o-animation: 3s ease 0s normal none infinite running zoomEffect;
    transform: scale(1, 1) translate(0px, 0px);
    -webkit-transform: scale(1, 1) translate(0px, 0px);
    -moz-transform: scale(1, 1) translate(0px, 0px);
	-o-transform: scale(1, 1) translate(0px, 0px);
}

@keyframes zoomEffect {
    from {transform: scale(1, 1)}
    to {transform: scale(1.2, 1.2)}
}

.mat-progress-spinner {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 45%;
  }
  

@media (max-width: 767px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 90%;
        z-index: 1000;
        position: fixed;
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 90%;
        z-index: 1000;
        position: fixed;
    }
    .custom-dialog-container-notification .mat-dialog-container {
        width:50em;
        max-height:50em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 75%;
        z-index: 1000;
        position: fixed;
    }
    .custom-dialog-container-notification .mat-dialog-container {
        width:50em;
        max-height:50em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 75%;
        z-index: 1000;
        position: fixed;
    }
    .custom-dialog-container-notification .mat-dialog-container {
        width:50em;
        max-height:50em;
    }
}

@media (max-width: 1024px) {
    .inner-wrapper mat-card {
        width: 100%;
    }
    
    .misc-bottom-padding mat-label {
        display: block;
        padding-bottom: 10px;
    }
    .mat-sidenav {
        width: 12%;
    }
    .mat-nav-list .mat-list-item {
        font-size: 14px;
    }
    .searchField {
        width: 100%;
    }
    .searchField {
        margin-top: -25px;
        padding-top: 15px;
        width: 75%;
        z-index: 1000;
        position: fixed;
    }
    .custom-dialog-container-notification .mat-dialog-container {
        width:50em;
        max-height:50em;
    }
}

@media (max-width: 767px) {
    .nav-tool-items {
        margin-right: 0;
    }
    .hamburger {
        visibility: visible !important;
    }
    .custom-dialog-container-notification .mat-dialog-container {
        width:50em;
        max-height:50em;
    }
}
