<mat-card class="registration-card">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Already have an account ?<a mat-button color="primary" routerLink="/login">Login</a> </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="registrationData" (ngSubmit)="register()">
        <mat-card-content>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="username" required>
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="f.username.touched && f.username.invalid && f.username.errors.cannotContainSpace">Invalid Username</mat-error>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="email" required>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="f.email.touched && f.email.invalid && f.email.errors.email">Invalid Email</mat-error>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" required>
                    <a mat-icon-button matTooltip="Show/Hide Password" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="f.password.invalid && f.password.touched">Invalid Password</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Re-enter password</mat-label>
                    <input matInput [type]="rehide ? 'password' : 'text'" name="repeatPassword" formControlName="repeatPassword" required>
                    <a mat-icon-button matTooltip="Show/Hide Password" matSuffix (click)="rehide = !rehide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="rehide">
                        <mat-icon>{{rehide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf=" f.repeatPassword.touched && f.repeatPassword.invalid && f.repeatPassword.errors.passwordMatch">Password should match</mat-error>
                </mat-form-field>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="!registrationData.valid" mat-button type="submit" color="primary"><mat-icon>check_circle_outline</mat-icon> Login</button>
            <a mat-button (click)="clearForm()">
                <mat-icon>highlight_off</mat-icon> Cancel</a>
        </mat-card-actions>
    </form>
</mat-card>